.faq {
  .faq-wrapper {
  }
  .faq-content {
    border: rem(1) solid $sable;
    border-radius: rem(4);
    margin-bottom: rem(20);
    padding: rem(15);

    @include tablet {
      padding: rem(15) rem(20);
    }
    background-color: #2d2d2d;
  }
  .faq-title {
    @include title(4);
    margin-bottom: rem(20);
    font-weight: 900;
    justify-content: space-between;
    &:first-child {
      margin-top: 0;
    }
    button {
      @include resetBtn;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
  .faq-item-btn {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
  }
}
