.shutter {
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  clip-path: polygon(0 0, 93% 0, 100% 17%, 100% 100%, 0 100%, 0% 50%);
  @include tablet {
    width: 70%;
  }
  @include desktop {
    width: 60%;
  }
  .shutter-wrapper {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-top: rem(15);
    margin-bottom: rem(20);
  }
  .shutter-close {
    @include resetBtn;
    position: absolute;
    right: 0;
    top: 0;
  }
  .shutter-content {
    @include vertical-spacing-bottom;
  }
  .shuter-accordion {
    @include vertical-spacing-inner-top;
  }
  .shutter-title {
    @include title(4);
    margin-bottom: rem(20);
    font-weight: 900;
    justify-content: space-between;
    &:first-child {
      margin-top: 0;
    }
    button {
      @include resetBtn;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
  .shutter-item-btn {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
  }
}
