.waiting {
  display: none;
  .waiting-media {
    animation: fadeIn 2s;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .waiting-text {
    color: $white;
    font-family: "--apocalypse-grunge";
    animation: fadeIn 4s;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @include mobile {
      font-size: rem(30);
    }
    @include tablet {
      font-size: rem(40);
    }
    @include tablet {
      font-size: rem(50);
    }
    @include desktop-xl {
      font-size: rem(70);
    }
  }
}
