@import "./reset";
@import "./variables";
@import "./typography";
@import "./mixins";
@import "./mixins-form";
@import "./functions";
@import "./medias";

// Pages
@import "./pages/home";

// Components
@import "./components/banner";
@import "./components/button";
@import "./components/burger-menu";
@import "./components/card-container";
@import "./components/card";
@import "./components/contact";
@import "./components/faq-container";
@import "./components/footer";
@import "./components/header";
@import "./components/navbar";
@import "./components/notice-wrapper";
@import "./components/notice";
@import "./components/partner-container";
@import "./components/service-container";
@import "./components/service";
@import "./components/title";
@import "./components/waiting";

html {
  font-family: var(--poppins);
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--tajawal);
  }
  .swiper-pagination-bullet-active {
    background-color: $sable;
  }
  .swiper-button-prev,
  .swiper-button-next::after {
    color: $sable;
  }
  body {
    &.is-burger-open {
      overflow: hidden;
      .burger-menu {
        color: $white;
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
        background-color: $black;
        z-index: 100;
      }
      i {
        &:first-child {
          transform: rotate(-45deg);
        }
        &:last-child {
          transform: rotate(45deg);
        }
      }
    }
    &.is-loading {
      overflow: hidden;
      .waiting {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $black;
        z-index: 100;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        img {
          object-fit: contain;
          width: rem(150);
          height: auto;
        }
        .waiting-img {
          opacity: 1;
          transition: opacity 3s;
        }
      }
    }
    &.is-scrolling {
      .header {
        background-color: $black;
        box-shadow: inherit;
      }
    }
  }
}
