@import "./reset";
@import "./variables";
@import "./typography";
@import "./mixins";
@import "./mixins-form";
@import "./functions";
@import "./medias";

// Pages
@import "./pages/home";

// Components
@import "./components/banner";
@import "./components/button";
@import "./components/card-container";
@import "./components/card";
@import "./components/contact";
@import "./components/faq-container";
@import "./components/footer";
@import "./components/header";
@import "./components/navbar";
@import "./components/notice-wrapper";
@import "./components/notice";
@import "./components/partner-container";
@import "./components/service-container";
@import "./components/service";
@import "./components/title";


html {
  font-family: var(--poppins);
  h1, h2, h3, h4{
    font-family: var(--tajawal);
  }
  .swiper-pagination-bullet-active {
    background-color: $sable;
  }
  .swiper-button-prev, .swiper-button-next::after{
    color: $sable;
  }
}